数据来源：data-sample文件夹下，原始数据集的抽样500辆车的数据

## 1.读取数据

In [3]:
import pandas as pd
#读取数据
data = pd.read_csv(r'data-sample/TaxiData-Sample',header = None)
#给数据命名列
data.columns = ['VehicleNum', 'Stime', 'Lng', 'Lat', 'OpenStatus', 'Speed']

In [4]:
#显示数据的前5行
data.head(5)

   VehicleNum     Stime         Lng        Lat  OpenStatus  Speed
0       22271  22:54:04  114.167000  22.718399           0      0
1       22271  18:26:26  114.190598  22.647800           0      4
2       22271  18:35:18  114.201401  22.649700           0      0
3       22271  16:02:46  114.233498  22.725901           0     24
4       22271  21:41:17  114.233597  22.720900           0     19

数据的格式：

VehicleNum —— 车牌  
Stime —— 时间  
Lng —— 经度  
Lat —— 纬度  
OpenStatus —— 是否有乘客(0没乘客，1有乘客)  
Speed —— 速度

## 2.数据的基本操作

### 2.1DataFrame和Series
当我们读一个数据的时候，我们读进来的就是DataFrame格式的数据表，而一个DataFrame中的每一列，则为一个Series
也就是说，DataFrame由多个Series组成

In [5]:
type(data)

pandas.core.frame.DataFrame

如果我们想取DataFrame的某一列，想得到的是Series，那么直接用以下代码:

`data[列名]`

In [6]:
data['Lng']

0          114.167000
1          114.190598
2          114.201401
3          114.233498
4          114.233597
              ...
1601302    114.160149
1601303    114.164551
1601304    114.168015
1601305    114.168015
1601306    114.170647
Name: Lng, Length: 1601307, dtype: float64

如果我们想取DataFrame的某一列或者某几列，想得到的是DataFrame，那么直接用以下代码

`data2[[列名,列名]]`

In [7]:
data[['Lng','Lat']]

                Lng        Lat
0        114.167000  22.718399
1        114.190598  22.647800
2        114.201401  22.649700
3        114.233498  22.725901
4        114.233597  22.720900
...             ...        ...
1601302  114.160149  22.606934
1601303  114.164551  22.605118
1601304  114.168015  22.606083
1601305  114.168015  22.606083
1601306  114.170647  22.604383

[1601307 rows x 2 columns]

### 2.2数据的筛选